.head {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    background: white;
    z-index: 9;
}

.main-content {
    padding: 10px;
}

.main-content .post-content {
    display: flex;
    flex-direction: column;
}

.main-content img {
    height: 500px;
    width: 100%;
    border-radius: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.btn {
    margin-top: 10px;
    background: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.copyright,
.quote,
.copy {
    margin-top: 15px;
    background: black;
    color: white;
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    margin-top: 15px;
    padding: 5px;
}

@media screen and (min-width: 568px) {
    .main-content {
        padding: 50px;
    }
}
